# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# Database / local data
*.db
*.sqlite3

# Uploaded PDFs 
# uploads/
# *.pdf

# Build / dist
build/
dist/
*.egg-info/

# Node modules 
node_modules/
